h1 {
    text-align: center;
    font-style: italic;
    color: #333;
}

audio { 
    display:none;
}

body {
    background-color: #e8e8ef;
}

#player-name {
    text-align:center;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0;
    padding:0;
    width:auto;
}

.container {
    background-color: #e8e8ef;
    border-radius: 5px;
    margin: 0 auto;
}

.btn-roll {
    height: 50px;
}

.left-side {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}

.scorecard {
    margin-bottom: 0;
}


/* scorecard column 1 */
.scorecard tr td:first-child {
    width: 50%;
    text-align: left;
}

/* scorecard column 2 */
.scorecard tr td:nth-child(2) {
    width: 50%;
    text-align: left;
}

/* scorecard column others */
.scorecard tr td {
    width: 50px;
    text-align: center;
}

/* column striping */
.scorecard tr:first-child {
    background-color: white;
}

.scorecard tr:nth-child(9) {
    background-color: white;
}

.scorecard tr:nth-child(even) {
    background-color: #fcfcff;
}

.scorecard tr:nth-child(odd) {
    background-color: white;
}

.scorebox-note {
    font-size: 85%;
    float:right;
    color: gray;
}

.scorecard-section {
    border: solid 1px #ddd;
    padding: 2px;
}

.dice-section {
    text-align: center;
}

.die {
    width: 96px;
    height: 96px;
    margin: 30px auto;
    font-size: 90px;
    cursor: pointer;
}

.die:hover {
/*    border-style: dashed; */
}

.section-btn {
    margin: 0 auto;
}

.box {
    font-weight: bold;
    font-size: 18;
}

.interactive:hover {
    background-color: #eaf7ff;
}

.temp {
    color: #ddd;
}

.strong {
        font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.name-input {
    margin: 0;
    padding: 0;
}

#player-name.current-player {
    background: #fdffe2;
}

.version {
    color: #ddd;
    text-align: center;
    font-size: 10px;
}