h1 {
    text-align: center;
    font-style: italic;
    color: #333;
}

table.scorecard tr { 
    padding: 4px 8px 5px 8px;
}

table.scorecard td { 
    padding: 4px 8px 5px 8px;
}

audio { 
    display:none;
}

body {
    background-color: #e8e8ef;
}

.container {
    background-color: #e8e8ef;
    border-radius: 5px;
    margin: 0 auto;
}

.btn-roll {
    height: 50px;
}

.left-side {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}

.scorecard {
    margin-bottom: 0;
}


/* scorecard column 1 */
.scorecard tr td:first-child {
    width: 50%;
    text-align: left;
}

/* scorecard column 2 */
.scorecard tr td:nth-child(2) {
    width: 50%;
    text-align: left;
}

/* scorecard column others */
.scorecard tr td {
    width: 50px;
    text-align: center;
}

/* column striping */
.scorecard tr:first-child {
    background-color: white;
}

.scorecard tr:nth-child(9) {
    background-color: white;
}

.scorecard tr:nth-child(even) {
    background-color: #fcfcff;
}

.scorecard tr:nth-child(odd) {
    background-color: white;
}

.scorebox-note {
    font-size: 85%;
    float:right;
    color: gray;
}

.scorecard-section {
    border: solid 1px #ddd;
    padding: 2px;
}

.dice-section {
    text-align: center;
}

.die {
}

.die-img {
    cursor: pointer;
    height: 56px;
    margin: 3px auto;
}

.die:hover {
/*    border-style: dashed; */
}

.section-btn {
    margin: 0 auto;
}


.interactive:hover {
    background-color: #eaf7ff;
}

.temp {
    color: #ddd;
}

input[type="number"].temp {
    color: #ddd;
}

.strong {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0; 
}

input[type="number"] {
    font-weight: bold;
    font-size: 16px;
    text-align:center;
    border:0; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0;
    padding:0;
    width:65px;
}

input[type="text"] {
    font-weight: bold;
    font-size: 16px;
    text-align:center;
    border:0; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0;
    padding:0;
    width:auto;
}

input[type="text"].current-player {
    background: #fdffe2;
}

.version {
    color: #ddd;
    text-align: center;
    font-size: 10px;
}

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}