body {
     /* padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


.left-side {
    border: 1px solid lightgrey;
    padding: 4px;
    border-radius: 4px;
}

#scorecard {
    margin-bottom: 0px;
}


/* scorecard column 1 */
#scorecard tr td:first-child {
    width: 100px;
}

/* scorecard column 2 */
#scorecard tr td:nth-child(2) {
    width: 100px;
    text-align: center;
}

/* scorecard column 3 */
#scorecard tr td:last-child {
    width: 10px;
    text-align: center;
}

.scorebox-note {
    font-size: 85%;
    float:right;
    color: gray;
}

#dice-section {
    text-align: center;
}

.die {
    border: 2px solid black;
    width: 96px;
    height: 96px;
    margin: 30px auto;
    font-size: 90px;
    line-height: 98px;
    cursor: pointer;
}

.die:hover {
    border-style: dashed;
}

#die1 {
}

#die2 {
}

#die3 {
}

#die4 {
}

#die5 {
}

.selected {
    background-color: black;
    color: white;
    border-color: white;
}

#section-button {
    margin: 0 auto;
}

.val {
    font-weight: bold;
    font-size: 18;
}

.temp {
    color: grey;
}


