h1 {
    text-align: center;
}

audio {
    display: none;
}​

.btnRoll {
    height: 60px;
}

.left-side {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}

.scorecard {
    margin-bottom: 0;
}


/* scorecard column 1 */
.scorecard tr td:first-child {
    width: 100px;
    text-align: left;
}

/* scorecard column 2 */
.scorecard tr td:nth-child(2) {
    width: 100px;
    text-align: left;
}

/* scorecard column others */
.scorecard tr td {
    width: 50px;
    text-align: center;
}

.scorebox-note {
    font-size: 85%;
    float:right;
    color: gray;
}

.scorecard-section {
    border: solid 1px #ddd;
    padding: 2px;
}

.dice-section {
    text-align: center;
}

.die {
    border: 2px solid black;
    width: 96px;
    height: 96px;
    margin: 30px auto;
    font-size: 90px;
    line-height: 98px;
    cursor: pointer;
}

.die:hover {
    border-style: dashed;
}

.selected {
    background-color: #aaa;
    color: white;
    border-color: white;
}

.section-btn {
    margin: 0 auto;
}

.box {
    font-weight: bold;
    font-size: 18;
}

.interactive:hover {
    background-color: #eaf7ff;
}

.temp {
    color: #ddd;
}

.strong {
        font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.name-input {
    margin: 0;
    padding: 0;
}